
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "tailwindcss";

body{
font-family: "poppins",sans-serif;
background-color: white;
}

.active-link{
    border:1px solid rgb(182, 3, 107);
    border-radius:10px;
    padding:1px 4px 1px 4px;
    text-decoration: none;
}
