
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "tailwindcss";

body{
font-family: "poppins",sans-serif;
background-color: white;
}

.active-link{
    background-image: linear-gradient(to right, red, orange); /* green to pink */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For Firefox and broader support */
  background-clip: text;
  color: transparent;
}

 